body {
  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Mirror and hide the video element */
video {
   display: none;  
}
